body, html, #root {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
  overflow: hidden;
}

.App {
  position: relative;
}
s
main {
  display: flex;
  height: 100vh;
}
.joan-regular {
  font-family: "Joan", serif;
  font-weight: 400;
  font-style: normal;
}

