/* ตั้งค่าสไตล์พื้นฐานของ HTML และ Body */

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: white;
}


/* การตั้งค่าให้ทุก element ใช้ box-sizing: border-box */

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* สไตล์สำหรับ root element */

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* ปรับขนาดภาพเพื่อให้ responsive */

img {
    max-width: 100%;
    height: auto;
    display: block;
}